In [13]:
import pandas as pd

In [14]:
path = "Resources/raw_health_expenditure.csv"
health_df = pd.read_csv(path, encoding="utf-8")
health_df.head()

,HF,Financing scheme,HC,Function,HP,Provider,MEASURE,Measure,LOCATION,Country,...,Year,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,HFTOT,All financing schemes,HCTOT,Current expenditure on health (all functions),HPTOT,All providers,PARPIB,Share of gross domestic product,AUT,Austria,...,2019,PC,Percentage,0,Units,NaN,NaN,10.408,P,Provisional value
1,HFTOT,All financing schemes,HCTOT,Current expenditure on health (all functions),HPTOT,All providers,PARPIB,Share of gross domestic product,BEL,Belgium,...,2019,PC,Percentage,0,Units,NaN,NaN,10.349,E,Estimated value
2,HFTOT,All financing schemes,HCTOT,Current expenditure on health (all functions),HPTOT,All providers,PARPIB,Share of gross domestic product,DNK,Denmark,...,2019,PC,Percentage,0,Units,NaN,NaN,10.031,E,Estimated value
3,HFTOT,All financing schemes,HCTOT,Current expenditure on health (all functions),HPTOT,All providers,PARPIB,Share of gross domestic product,GRC,Greece,...,2019,PC,Percentage,0,Units,NaN,NaN,7.791,E,Estimated value
4,HFTOT,All financing schemes,HCTOT,Current expenditure on health (all functions),HPTOT,All providers,PARPIB,Share of gross domestic product,TUR,Turkey,...,2019,PC,Percentage,0,Units,NaN,NaN,4.383,E,Estimated value

In [43]:
health_df = health_df[["Country", "Value"]]

health1 = health_df.sort_values('Country')
health1.head()

      Country   Value
16  Australia   9.334
0     Austria  10.408
1     Belgium  10.349
15     Canada  10.790
23      Chile   9.102

In [44]:
health = health1.rename(columns={"Country": "country", "Value": "health_expenditure"})
health

            country  health_expenditure
16        Australia               9.334
0           Austria              10.408
1           Belgium              10.349
15           Canada              10.790
23            Chile               9.102
26         Colombia               7.260
25   Czech Republic               7.759
2           Denmark              10.031
31          Estonia               6.786
33          Finland               9.086
24           France              11.186
10          Germany              11.654
3            Greece               7.791
19          Hungary               6.360
12          Iceland               8.788
9           Ireland               6.841
11           Israel               7.453
14            Italy               8.661
8             Japan              11.055
36            Korea               8.044
32           Latvia               6.255
5         Lithuania               6.803
13       Luxembourg               5.397
22           Mexico               5.477
18      Netherlands               9.965
28      New Zealand               9.319
7            Norway              10.489
34           Poland               6.332
35         Portugal               9.563
29  Slovak Republic               6.933
30         Slovenia               8.255
17            Spain               8.999
6            Sweden              10.882
21      Switzerland              12.142
4            Turkey               4.383
20   United Kingdom              10.254
27    United States              16.960

In [45]:
health.to_csv("Data/health_expenditure_by_Country.csv", index=False, header=True)